<header *ngIf="!isDisabled"></header>
<form [formGroup]="frmPurchaseOrder">
    <div class="panel panel-primary scms" [ngClass]="{'disabled': mode === 'V'}">
        <div class="panel-heading">Manage Purchase Order</div>
        <div class="panel-body">

            <div class="col-sm-3">
                <div class="form-group">
                    <label class="">Purchase Order #</label>&nbsp;
                    <input  class="form-control"
                            [value]="purchaseOrderId"
                            type="text"
                            disabled>
                </div>
            </div>
            <div class="row"></div>
    
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="purchaseOrderDate">PO Date</label>
                    <input class="form-control" formControlName="purchaseOrderDate" type="date">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="estDeliveryDate">Estimated Delivery Date</label>
                    <input class="form-control" formControlName="estDeliveryDate" type="date">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="inventoryId">Inventory</label>
                    <ng-select  formControlName="inventoryId"
                                class="control-label"
                                [items]="inventoryList"
                                [clearable]="false"
                                bindValue="inventoryId"
                                bindLabel="inventoryDescription"
                                [disabled]="false"
                                placeholder="Select Inventory">
                    </ng-select>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="vendorId">Vendor</label>
                    <ng-select  formControlName="vendorId"
                                class="control-label"
                                [clearable]="false"
                                bindValue="vendorId"
                                bindLabel="vendorName"
                                [items]="vendorList"
                                [disabled]="false"
                                placeholder="Select Vendor">
                    </ng-select>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="shipmentCost">Shipment Cost</label>
                    <input class="form-control" formControlName="shipmentCost" type="number">
                </div>
            </div>
            
            <div *ngIf="!isDisabled" class="col-xs-12">
                <div class="pull-right gap-bottom">
                    <button type="submit" class="btn btn-primary" (click)="onAddClicked()">Add Item</button>
                </div>
            </div>
            <div class="scrollable">
                <div style="min-width: 500px">
                    <datatable  #datatable
                                [disabled]="isDisabled"
                                [showFilterRow]="false"
                                [allowEditing]="false"
                                [allowAddition]="false"
                                [allowReordering]="false"
                                [showTotals]="false"
                                [page]="pageNo"
                                (addClicked)="onAddClicked()"
                                (cellValueChanged)="onCellValueChanged($event)"
                                (dropdownChanged)="onDropdownChanged($event)"
                                (tableChanged)="onChangeTable(config)"
                                (linkClicked)="onLinkClicked($event)"
                                [tableData]="pOItems" [columns]="columns">
                    </datatable>
                </div>
            </div>
            <div class="col-sm-12">
                <div *ngIf="!isDisabled" class="form-group">
                    <button class="pull-right btn btn-primary"
                            (click)="onCancel()">Cancel</button>
                    <button class="pull-right btn btn-primary"
                            [ngClass]="{'disabled': frmPurchaseOrder.invalid}"
                            (click)="onSave()">Save</button>
                </div>
                <div *ngIf="isDisabled" class="form-group">
                    <button class="pull-right btn btn-primary"
                            (click)="onClose()">Close</button>
                </div>
            </div>    
        </div>
    </div>
</form>

<confirmation   #deleteconfirmation
                (confirm)="onDeleteConfirm($event)"
                [message]="'Are you sure you want to delete this record?'">
</confirmation>