<div class="panel panel-default">
    <div class="panel-heading text-center">
        <a routerLink="/" routerLinkActive="active">Main Menu</a>
    </div>
    <div class="panel-body">
        <div class="mainmenu">
            <div class="text-center">
                <!-- <a class="btn btn-primary col-xs-5 col-md-3 col-lg-2" routerLink="/inventorylist" routerLinkActive="active">Inventory</a> -->
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/homepage" routerLinkActive="active">Home</a>
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/item-list" routerLinkActive="active">Item</a>
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/inventory-list" routerLinkActive="active">Inventory</a>
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/vendor-list" routerLinkActive="active">Vendor</a>
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/purchaseorder-list" routerLinkActive="active">Purchase Order</a>
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/purchaseorder-post" routerLinkActive="active">Post Purchase Order</a>
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/receipt-list" routerLinkActive="active">Inventory Receipt</a>
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/receipt-post" routerLinkActive="active">Post Inventory Receipt</a>
                <a class="btn btn-primary col-xs-12 col-sm-3 col-md-12 col-lg-12" routerLink="/reports" routerLinkActive="active">Reports</a>
            </div>
        </div>
    </div>
</div>
